

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="css/styles.css">

    <title>Картинки</title>

    
</head>
<body>

    <header>
        <h3>Загрузка картинок</h3>
        <p>Загружайте селфи, мемы, и веселые картинки сюда..</p>
    </header>

    <main>

            <section class="in-upload-button">
            <button class="nav-button" onclick="window.location.href='upload.html'">Загрузить</button>
            <button class="nav-button active" onclick="window.location.href='images.html'">Список картинок</button>
        </section>

        <section class="centered-section">
            <ul class="list-in-images">
                <li>Ссылка на картинку</li>
                <li>Ссылка на картинку</li>
                <li>Ссылка на картинку</li>
                <li>Ссылка на картинку</li>
                <li>Ссылка на картинку</li>
            </ul>
        </section>
        

    </main>

    <!-- <h1>Pictures</h1>

    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/images">Images</a></li>
    </ul> -->


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> -->
</body>
</html>